-# frozen_string_literal: true
= simple_form_for @register_interest, url:pricing_register_interests_path(@pricing_plan) do |f|
  .card-body
    = f.input :email, wrapper_html: { class: 'mb-3' }
  .card-footer.d-flex
    %button.btn.btn-primary{ type: 'submit' }
      Save
    = link_to 'Back', root_path, class: 'btn btn-link ms-auto'
