.card
  .card-header.d-flex.align-items-center
    %span Listing Register Interests

  %table.table
    %thead
      %tr
        %th Email
        %th Pricing
        %th
    %tbody
      - @register_interests.each do |register_interest|
        %tr
          %td= register_interest.email
          %td= register_interest.pricing_id
          %td
            .btn-toolbar.float-end
              = link_to 'Destroy', pricing_register_interest_path(register_interest.pricing_id, register_interest), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger ms-1 btn-sm'