.card
  .card-header.d-flex.align-items-center
    %span Listing Register Interests

    = link_to 'New Register interest', pricings_path, class: 'btn btn-outline-secondary ms-auto'

  %table.table
    %thead
      %tr
        %th Email
        %th Pricing
        %th
    %tbody
      - @register_interests.each do |register_interest|
        %tr
          %td= register_interest.email
          %td= register_interest.pricing_id
          