-# frozen_string_literal: true
= simple_form_for(@faq) do |f|
  .card-body
    = f.input :question, wrapper_html: { class: 'mb-3' } 
    - if current_user.admin?
      = f.input :answer, wrapper_html: { class: 'mb-3' }

  .card-footer.d-flex
    %button.btn.btn-primary{ type: 'submit' }
      Save
    = link_to 'Back', faqs_path, class: 'btn btn-link ms-auto'
