$('#recommended-events').find('.event-card#event_#{@proposed_event.event.id}').remove();
$('#searched-events').find('.event-card#event_#{@proposed_event.event.id}').remove();

$('#where-timetable').html('');

$('#where-timetable').html("#{ escape_javascript( render 'outings/where_timetable', outing: @outing ) }")