console.log('destroy proposed event');

-# remove event card from #where-timetable
$('#where-timetable').find('#event_#{@proposed_event.event.id}').remove();


$('#event-cards').html("#{ escape_javascript( render 'events/recommended_events' ) }")