console.log('destroy proposed event');

-# remove event card from #where-timetable
$('#where-timetable').find('#event_#{@proposed_event.event.id}').remove();


$('#recommended-events').html("#{ escape_javascript( render 'events/recommended_events', recommended_events: current_user.recommended_events(outing: @outing)) }")