var proposed_event_card = document.querySelector('#proposed_event_#{@proposed_event.id}');

var proposedEventBody = proposed_event_card.querySelector('.proposed-event-votes');

var voteLike = proposed_event_card.querySelector('.vote-like');

var voteLikeCount = proposed_event_card.querySelector('.vote-like-count');

var voteButton = proposed_event_card.querySelector('#vote-button-#{@proposed_event.id}');

- if current_user.voted_for? @proposed_event
  voteLike.classList.replace('bi-hand-thumbs-up', 'bi-hand-thumbs-up-fill');
  voteButton.setAttribute('value', 'dislike');

- else
  voteLike.classList.replace('bi-hand-thumbs-up-fill', 'bi-hand-thumbs-up');
  voteButton.setAttribute('value', 'like');

-# set the text of voteLikeCount
voteLikeCount.innerHTML = "#{@proposed_event.decorate.vote_likes}";
proposedEventBody.innerHTML = "#{escape_javascript(render 'proposed_events/vote_body', proposed_event: @proposed_event)}";
