= render 'navigation'

- if @friends.present?
  %table.table
    %thead
      %tr
        %th Your friends
        %th
    %tbody
      - @friends.each do |friend|
        %tr
          %td
            = render 'user', user: friend
          %td
            .btn-toolbar.float-end
              = button_to 'Unfriend', unfollow_path(friend), class: 'btn btn-outline-danger btn-sm mt-2'
- else
  %p
    You have no friends yet.