= render 'navigation'

- if @requests.present?
  %table.table
    %thead
      %tr
        %th Requests
        %th
    %tbody
      - @requests.each do |request|
        %tr
          %td
            = render 'user', user: request.followerable
          %td
            .btn-toolbar.float-end
              = button_to 'Accept', accept_path(request.followerable), class: 'btn btn-sm btn-outline-success ms-1 mt-2'
              = button_to 'Decline', decline_path(request.followerable), class: 'btn btn-sm btn-outline-danger ms-1 mt-2'
- else
  %p
    You have no pending friend requests.