.card{:class=>"flex_container"}
  .card-header=route_name
  .card-body
    %div{:class=>"informationBox"}
      - metrics.each do |metric|
        %div
          %button{:class=>"clickable", :route_name => route_name, :metric => metric[0].to_s}=metric[0].to_s+":"
          %span{:class=>"informationValue"}=metric[1].to_s