- # For additional JS:
- additional_javascript('metrics')

.card
  .card-body.landing_page_visits_information.primary-card
    %span.start_text Site Visits:
    %span.num_visits=@landing_page_visits_last_7_days
    %span.percentage{class: [(@percent_difference.index('-') == nil && @percent_difference.index('~') == nil) && 'positive', @percent_difference.index('-') == 0 && 'negative']}=@percent_difference
    %br
    %span.end_text=@landing_page_visits_7_days_before_that.to_s + ' in the previous week'

.card
  .card-header
    %h2 General Metrics
  .card-body
    %div{:class=>"tab_list"}
      -@routes_interested_in.each do |route|
        %button{:class=>"metric_tab_button"} #{route[:name]}
    %div{:class=>"tabs"}
      -@routes_interested_in.each do |route|
        %div{:id=>route[:name]+"_tab", :class=>[route[:name] != '/' && 'hidden', 'metric_tab']}
          -@all_metrics[route[:name]].each do |route_end|
            %div{:class=>"flex_container"}
              = render 'page_metrics', route_name: route_end["route"], metrics: route_end["metrics"]

.card
  .card-header 
    %h2 Graphs 
  .card-body
    .card-body.graph_body
      %div
        %legend Metrics
        %form{:class=>"graph_form",:"accept-charset"=>"UTF-8", :action=>"/metrics", :method=>"get"}
          %div
            %label{:for=>"start"} Start
            %label{:for=>"end"} End
            %label{:for=>"resolution"} Resolution
            %label{:for=>"page"} Page
            %label{:for=>"metric"} Metric
          %div
            %input{:type=>"date", :name=>"start", :id=>"start", :value=>params["start"]}
            %input{:type=>"date", :name=>"end", :id=>"end", :value=>params["end"]}
            %select{:name=>"resolution", :value=>params["resolution"]}
              %option{:value=>"Day"} Day
              %option{:value=>"Month"} Month
              %option{:value=>"Year"} Year
            %input{:name=>"page", readonly:true, :id=>"pageSelected", :value=>params["pageSelected"]}
            %input{:name=>"metric", readonly:true, :id=>"metricSelected", :value=>params["metricSelected"]}
            %button{:type=>"submit"}Update Graph

      %div
        %span Select a metric by clicking on one of the metrics in the tab above

      %div
        %legend Categories
        %form{:class=>"graph_form",:"accept-charset"=>"UTF-8", :action=>"/metrics", :method=>"get"}
          %div
            %label{:for=>"start"} Start
            %label{:for=>"end"} End
            %label{:for=>"resolution"} Resolution
            %label{:for=>"category"} Category
          %div
            %input{:type=>"date", :name=>"start", :id=>"start", :value=>params["start"]}
            %input{:type=>"date", :name=>"end", :id=>"end", :value=>params["end"]}
            %select{:name=>"resolution", :value=>params["resolution"]}
              %option{:value=>"Day"} Day
              %option{:value=>"Month"} Month
              %option{:value=>"Year"} Year
            %select{:name=>"category", :readonly=>"true", :value=>"All", :id=>"categorySelected", :value=>params["categorySelected"]}
              %option{:value=>"All"} All
              -@category_select_values.each do |category|
                %option{:value=>category}=category
            %button{:type=>"submit"}Update Graph
    
    %canvas{:id=>"myChart", :data=>{:labels=> @data_keys, :data=> @data_values}}
.card
  .card-header 
    %h2 Visit Locations
  .card-body
    %div{:id=>"world-map", data: {value: @click_data}}
