%a.user_icon.participant.d-inline-flex.flex-column.align-items-center.me-2{:href => user_path(user)}
  .initial-avatar.d-inline-flex= user.initials
  .avatar-text.d-inline.mx-2.text-center= user.full_name