.card[participant]
  .card-body
    %p= participant.full_name
    %p= participant.status

  - if !(participant.status == "creator") && defined?(action_buttons) && action_buttons
    .card-footer.d-flex.justify-content-end
      = link_to participant_path(@outing.invite_token, participant.id), class: 'btn btn-outline-danger destroy-participant', title: 'Remove Invite', method: :delete, data: { remote: true, confirm: 'Are you sure?' } do
        %i.bi-trash
