- if @outing.proposed_events.empty?
  %p
    You haven't added any events to your outing yet.
- else
  - @outing.proposed_events.order(proposed_datetime: :asc).each do |proposed_event|
    = render 'proposed_events/proposed_event_card', proposed_event: proposed_event, event: proposed_event.event
