
.d-flex.align-items-center.justify-content-between
  %h1
    Outings
  - if !current_user.suspended
    .action-buttons
      %h2
        = link_to new_outing_path, class: 'btn btn-outline-secondary', value: 'New Outing' do
          .me-2
            Create an Outing
          %i.bi-plus

- @outings.each do |outing|

  = render 'outing_card', outing: outing