.d-flex.align-items-center.pb-4

  - if !current_user.suspended
    = link_to new_outing_path, class: 'btn btn-outline-primary ms-auto' do
      New Outing
      %i.bi-plus-circle

- @outings.each do |outing|
  .click-card{url: outing_path(outing)}[outing]
    = render 'outing_card', outing: outing