.row.justify-content-center
  .col-sm-8.col-lg-6
    %h1 Creating an outing
    %p
      Fill in the description of your outing,
      %br
      add friends and events later!
    .card
      = simple_form_for(@outing) do |f|
        .card-body
          = f.input :name, wrapper_html: { class: 'mb-3' }, label: false, placeholder: 'Outing name...'

          = f.input :description, wrapper_html: { class: 'mb-3' }, label: false, placeholder: 'Outing description...'
          = f.input :outing_type, wrapper_html: { class: 'mb-3' }, collection: Outing.outing_types.keys

        .card-footer.d-flex
          %button.btn.btn-primary{ type: 'submit' }
            Save
