-# make sure all checkboxes in the #not_invited_friends element are unchecked
$('#not_invited_friends').find('input[type=checkbox]').prop('checked', false);

- if @friend_ids.empty?
  alert('Please select at least one friend to invite.');

- else
  -# remove participants created from the #not_invited_friends element
  -@friend_ids.each do |friend_id|
    $('#not_invited_friends').find("#user_#{friend_id}").remove();

  -# add participants to the #participant-cards element
  - @participants.each do |participant|
    $('#participant-cards').append("#{escape_javascript(render('outings/participant_card', participant: participant, action_buttons: true))}");

  -# update the calendar
  document.getElementById('availability').outerHTML = "#{escape_javascript(render('simple_calendar/outing_availability_calendar', peoples_availabilities: @peoples_availabilities ))}";
  
  -# update best start datetime list
  document.getElementById('good_start_datetimes').outerHTML = "#{escape_javascript(render('outings/good_start_datetime', good_start_datetime: @good_start_datetime))}";

  