- if recommended_events.any?
  - recommended_events.each do |event|
    = render 'events/event_search_result_card', event: event, render_params: { add_event_to_outing: true }, outing: @outing

- else
  %p
    No recommended events