.nested-fields
  =f.input :status, :label => "Tag", :collection => EventReact.statuses, wrapper_html:{ class: 'col-9' }
  -#.col-1.delete-field.my-auto= link_to_remove_association "", f, :class=>"fas fa-times-circle fa-lg"