.card.mb-2
  .card-header
    = link_to event.name, event

  .row
    .col-auto
      - if event.category
        = image_pack_tag event.image_path, width: 120
      - else
        = image_pack_tag "event_images/unknown.png", width: 120


    .col.p-3
      %p
        =event.description
      %p
        %i.bi-pin
        %i
          =event.display_location
  .card-footer.d-flex.justify-content-between

    .user-controls
      %a{href: event_path(event)}
        %i{:class => event.like_icon(current_user)}
        = event.display_likes(current_user)