- if found_events.nil?

- elsif found_events.any?
  %h3 Search Results
  - found_events.each do |event|
    = render 'events/event_card_search', event: event, outing: @outing

- else
  %p
    No events found