- if @event.approved
  -# remove from pending events
  console.log("approval");
  document.querySelector("#events").innerHTML = "";
  document.querySelector(".event.pending_event#event_#{@event.id}").innerHTML = "";

  // Iterate through each event and add it to #events (this will include the recently approved event, ensuring the order is maintained)
  - @approved_events.each do |event|
    // Render the event card partial for the current event
    var cardHtml = "#{j render(partial: 'event_card', locals: { event: event })}";
    // Create a new element with the rendered card HTML
    var card = document.createElement("div");
    card.innerHTML = cardHtml;
    // Add the card to the #event element
    document.querySelector("#events").appendChild(card);

- else

  // Get the element with class "btn-outline-danger" within the "td.event.pending_event#event_3"
  var element = document.querySelector(".event.pending_event#event_#{@event.id} .btn.btn-outline-danger");

  // Change the class of the element to "btn-danger"
  element.classList.remove("btn-outline-danger");
  element.classList.add("btn-danger");
