-# Render events search partial
var results = "#{ j render 'events/recommended_events', recommended_events: @events, outing: @outing }";

document.getElementById('searched-events').innerHTML = results;