- additional_stylesheet 'events'

.event-header.background-colour{:class => @event.colour }
  .content
    .event-image.background-colour{:class => @event.colour }
      =@event.category.symbol

    %h1.event-title
      =@event.name


    .event-subheading
      %h3
        %em
          %i.bi-calendar-range
          =@event.decorate.display_time
      %h3
        %i.bi-pin-map-fill
        =@event.address_line1

.event-body
  .d-flex.justify-content-between.mt-3
    .reacts.d-flex
      .likes.me-2
        = link_to like_event_path(@event), class: 'btn btn-outline-primary', title: 'Like this Event', method: :patch, data: { remote: true } do
          %i.like_icon{:class => @event.like_icon(@event_liked)}
            %span.small-likes=@event.likes(current_user, compressed: true, current_user_liked: @event_liked)

    .end.d-flex

      .dropdown.me-1
        %a.btn.btn-outline-secondary.dropdown-toggle{:href => "#", "role" => "button", "data-bs-toggle" => "dropdown", "data-target" => "#"}
          %i.bi-share
          %b.caret
        %ol.lg-icon.dropdown-menu.p-3.ms-2.text-center{"role" => "menu"}
          %li
            %a{:href => "#link1"}
              %i.bi-link
          %li
            %a{:href => "#link1"}
              %i.bi-instagram
          %li
            %a{:href => "#link2"}
              %i.bi-facebook
          %li
            %a{:href => "#link3"}
              %i.bi-twitter
          %li


      -#%a.btn.btn-outline-primary{href: "https://www.instagram.com"}
      -#  %i.bi-instagram


      - if current_user.admin? && !current_user.suspended

        %a#event_settings{href: edit_event_path(@event), class: 'btn btn-outline-secondary ms-1' }
          %i.bi-gear
        -#%a{href: event_path(@event), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger ms-1' }
        -#  %i.bi-trash

  %hr
  .creator-card.mb-2
    .initial-avatar.d-inline-flex= @event.user.initials
    .avatar-text.d-inline.m-2
      %b
        #{@event.user.full_name}

      says...

  #event-info
    .card
      .card-body
        %p
          =@event.description

    .card
      .card-body
        %img.w-100{ src: @event.decorate.map_image }
        %p.mt-3.text-center
          =@event.address


  %hr

  %h2.text-center
    %a{href: events_path}
      More Events Like This
      %i.bi-chevron-right.bold


  .horizontal-scroll
    - @more_events.each do |event|
      = render 'event_card', event: event, render_params: {}

