document.querySelector("#event-tags").innerHTML = ""

- @event.tags.each do |tag|
  -# create the tag element
  var new_tag = document.createElement("div");
  new_tag.classList.add("btn");
  new_tag.classList.add("btn-secondary");
  new_tag.classList.add("me-2");

  -# create tag image
  var tag_icon = document.createElement("i");
  tag_icon.classList.add("bi-tag");

  -# add tag name
  var tag_desc = document.createElement("span");
  tag_desc.innerHTML = " #{tag} "

  -# add details to tag span
  new_tag.appendChild(tag_icon);
  new_tag.appendChild(tag_desc);

  -# add tag button to list of tags
  document.querySelector("#event-tags").appendChild(new_tag)

