var proposed_event_card = $('#proposed_event_#{@proposed_event.id}');
var voteLike = proposed_event_card.find('#vote-like');
var voteLikeCount = proposed_event_card.find('#vote-like-count');
var voteButton = proposed_event_card.find('#vote-button');

voteLikeCount.text('#{@proposed_event.decorate.vote_likes}');

- if @participant_reaction.reaction == 'like'
  voteLike.removeClass('bi-hand-thumbs-up').addClass('bi-hand-thumbs-up-fill');
  voteButton.attr('value', 'dislike');

- else
  voteButton.attr('value', 'like');
  voteLike.removeClass('bi-hand-thumbs-up-fill').addClass('bi-hand-thumbs-up');