var proposed_event_card = $('#proposed_event_#{@proposed_event.id}');

var voteLike = proposed_event_card.find('#vote-like');
var voteDislike = proposed_event_card.find('#vote-dislike');

- if @participant_reaction.reaction == 'like'

  voteDislike.removeClass('btn-danger').addClass('btn-outline-danger');
  voteLike.removeClass('btn-outline-primary').addClass('btn-primary');

-elsif @participant_reaction.reaction == 'dislike'

  voteDislike.removeClass('btn-outline-danger').addClass('btn-danger');
  voteLike.removeClass('btn-primary').addClass('btn-outline-primary');


-# replace class btn-primary-outline with btn-primary
