.background-colour {
  color: white;
}

.red{
  background: #ED4141;
  color: white;
}

.pink{
  background: #C327A1 !important;;
  color: white !important;;

}

.purple{
  background: #A427C3 !important;;
  color: white !important;;

}

.blue{
  background: #5027C3 !important;;
  color: white !important;;

}

.cyan{
  background: #2766C3 !important;;
  color: white !important;;

}

.aqua{
  background: #41CEED !important;;
  color: black !important;;

}

.turquoise{
  background: #88FFCD !important;;
  color: black !important;;

}

.green{
  background: #8AFF88 !important;;
  color: black !important;;

}


.lime{
  background-color: #B5FF88 !important;;
  color: black !important;

}

.yellow{
  background: #FDFF88 !important;;
  color: black !important;;

}

.orange{
  background: #FFC188 !important;;
  color: black !important;;

}

.amber{
  background: #FF9688 !important;;
  color: black !important;;

}
