.background-colour {
  color: white;
}

.background-colour.red{
  background: #EF137D;
}

.background-colour.pink{
  background: #E713EF;
}

.background-colour.purple{
  background: #7413EF;
}

.background-colour.blue{
  background: #1351EF;
}

.background-colour.cyan{
  background: #13A0EF;
}

.background-colour.aqua{
  background: #13EFE2;
}

.background-colour.turquoise{
  background: #13EFBA;
}

.background-colour.green{
  background: #13EF51;
}


.event-image.lime{
  background-color: #A9EF13;
}

.event-image.yellow{
  background: #EFE613;
}

.event-image.orange{
  background: #EFBF13;
}

.event-image.amber{
  background: #EF4813;
}
