.background-colour {
  color: black;
}

.red{
  background: #BF4E30;
  color: white;
}

.red-icon {
    color: #BF4E30;
}

.pink{
  background: #FF6978 !important;;
  color: black !important;;

}

.purple{
  background: #6b3b66 !important;;
  color: white !important;;
}

.purple-icon {
    color: #6b3b66;
}

.blue{
  background: #5027C3 !important;;
  color: white !important;;

}

.cyan{
  background: #03B5AA !important;;
  color: white !important;;

}

.aqua{
  background: #219ebc !important;;
  color: white !important;;

}

.turquoise{
  background: #2a9d8f !important;;
  color: black !important;;

}

.green{
  background: #7BC950 !important;;
  color: black !important;;
}

.green-icon {
    color: darkgreen;
}


.lime{
  background-color: #EFD780 !important;;
  color: black !important;

}

.yellow{
  background: #FDE74C !important;;
  color: black !important;;

}

.orange{
  background: #DBA159 !important;;
  color: black !important;;

}

.amber{
  background: #FF9688 !important;;
  color: black !important;;

}
