@import "variables";
@import "event-colours";

// card
.horizontal-scroll .event-card {
  max-width: 400px;
  margin-right: 10px;
}

.event-card {
  min-width: 152px;

  .large-date {
    display: inline;
  }

  .small-date {
    display: none;
  }

  padding: 10px;
  border-radius: 12px;

  p {

    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

    color: #9A9A9A;
    overflow: hidden;
    margin-bottom: 0;
  }

  .event-title {
    padding-right: 15px;
    height: 2rem;
  }

  .event-subheading {
    padding-bottom: 10px;
  }

  .event-description {
    height: 42px;
    margin-bottom: 5px;
    padding-right: 15px;
  }
}


.event-image {
  grid-area: image;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 10px;
  overflow: hidden;

  width: 62px;
  height: 62px;

  font-size: 35px;
  margin-bottom: 0.5rem;
}

.event-title {
  grid-area: title;
}

.event-share {
  grid-area: share;
}

.event-subheading {
  grid-area: subhe;

}

.event-description {
  grid-area: desc;
  color: white;
}


.event-header .event-image {
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}








.event-card-footer {
  grid-area: like;
}

.event-card {

  h1 {

    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.03em;
    margin-bottom: 10px;

  }

  h2 {

    font-size: 13px;
    line-height: 15px;
    letter-spacing: -0.03em;

    color: #9A9A9A;
    margin-bottom: 0;

  }

  em {
    font-weight: 500;
  }
}




//medium screens
@media (min-width: 768px) {
  // create a wider view for cards that have the space
  .event-card:not(.horizontal-scroll .event-card) {
    display: grid;
    grid-template-columns: 62px 1fr 2fr;
    grid-template-rows: repeat(4, auto);
    // these are already set in the layouts css file
    grid-template-areas:
    "image title title"
    "image subhe desc"
    "like like like";
    column-gap: 5px;

    // show the larger date string
    .large-date {
      display: none;
    }

    .small-date {
      display: inline;
    }

    .event-title {
      height: auto;
    }
  }

}