@import "variables";
@import "event-colours";

// card
.horizontal-scroll .event-card {
  max-width: 400px;
  margin-right: 10px;
}

.event-card {
  min-width: 152px;

  .large-likes {
    display: none;
  }

  .small-likes {
    display: inline;
  }

  padding: 10px;
  border-radius: 12px;

  p {

    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

    color: #9A9A9A;
    overflow: hidden;
    margin-bottom: 0;
  }

  .event-title {
    padding-right: 15px;
    height: 2rem;
  }

  .event-subheading {
    padding-bottom: 10px;
  }

  .event-description {
    height: 42px;
    margin-bottom: 5px;
    padding-right: 15px;
  }
}


.event-image {
  grid-area: image;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 10px;
  overflow: hidden;

  width: 62px;
  height: 62px;

  font-size: 35px;
  margin-bottom: 0.5rem;
}

.event-title {
  grid-area: title;
}

.event-share {
  grid-area: share;
}

.event-subheading {
  grid-area: subhe;

}

.event-description {
  grid-area: desc;
  color: white;
}


.event-header .event-image {
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

.event-card-footer {
  grid-area: like;
}

.event-card, .proposed-event-card {

  h2 {

    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.03em;
    margin: 5px 0;

  }

  h3 {

    font-size: 13px;
    line-height: 15px;
    letter-spacing: -0.03em;

    color: #9A9A9A;
    margin-bottom: 0;

  }

  em {
    font-weight: 500;
  }

  .card-header {
    // 49, 44, 71 in hex
    background: #312c44;
    color: white;
  }
}


.proposed-event-card {

  .btn.btn-outline-secondary {
    color: inherit;
    border-style: solid;
    border-color: inherit;

  }

  .event-card {
    border-radius: 0;
    border: none;
  }

  //h3 {
  //  color: inherit;
  //}
}




//medium screens
@media (min-width: map-get($grid-breakpoints, md)) {
  // create a wider view for cards that have the space
  .event-card:not(.horizontal-scroll .event-card) {
    .body {

      display: grid;
      grid-template-columns: 62px minmax(80px, 150px) minmax(110px, 2fr);
      grid-template-rows: repeat(4, auto);

      // these variables are declared in the layouts css file
      grid-template-areas:
      "image title title"
      "image subhe desc"
      "like like like";
      column-gap: 5px;

      // show the larger date string
      .large-likes {
        display: none;
      }

      .small-likes {
        display: inline;
      }

      .event-title {
        height: auto;
      }
    }
  }

}