@import "variables";


body {
  //font-family: "Graphik", sans-serif;
  //color: $text-color;
  font-family: "Poppins", sans-serif;

  background: radial-gradient(175.16% 203.78% at 0% 0%,
      #F5F3FF 0%,
      rgba(227, 223, 248, 0.2) 100%);

  min-height: 100vh;
  display: flex;
  flex-direction: column;

  footer {
    margin-top: auto;
  }
}

h1 {
  font-weight: $h1-font-weight;
  font-size: $h1-font-size;
  padding-top: 15px;

  margin-bottom: 35px;
  line-height: 1;
}

h2 {
  font-weight: $h2-font-weight;
  font-size: $h2-font-size;
}

h3 {

  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.03em;
  margin: 0;

  color: #747474;
  //color: #000000;
}


em {
  font-style: normal;
  font-weight: 600;
  color: #747474;
}

// alert styling
.flash-messages {
  padding: 0;
  margin-top: -16px;
}

.alert {
  --bs-alert-border-radius: 0;
}

.light {
  opacity: 75%;
}

.subheading {
  margin-left: 5px;
}

// navigation
#nav-bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  padding-bottom: 5px;
}

.nav-item {
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

// ***** who when where table styles

.www-table td,
.www-table {
  border-bottom: none;
}

.www-table .row {
  padding: 5px 0;
}

.www-table .row:hover,
.www-table a:hover {
  color: var(--bs-link-hover-color);
}

.www-table a {
  color: black;
}

//******
// included to allow a gap between the columns
.search-form {
  display: grid;
  grid-template-columns: auto 40px;
  grid-column-gap: 10px;

  button {
    display: flex;
    justify-content: center;
  }

  padding-bottom: 10px;
}

.search-form:has(#search_category) {
  grid-template-columns: minmax(100px, auto) minmax(50px, 200px) 40px;

}

//event index
#events-display,
#searched-events,
#liked-events-display {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

#where-sidebar #searched-events {
  grid-template-columns: 1fr;
}

//landing page images

img.full-screen-image {
  max-width: 100%;
  width: 700px; // assume this is the default size
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
}

// *************** Metrics page ***************
.metric_tab_button {
  margin-bottom: 4px;
}

.landing_page_visits_information {
  text-align: center;
}

.landing_page_visits_information .start_text {
  font-size: 2.5em;
  text-align: center;
}

.landing_page_visits_information .percentage {
  font-size: 2.5em;
}

.landing_page_visits_information .num_visits {
  font-size: 3em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.landing_page_visits_information .percentage.negative {
  color: red;
}

.landing_page_visits_information .percentage.positive {
  color: green;
}

.landing_page_visits_information .end_text {
  font-size: 2em;
}

.landing_page_visits_information .previous_num_visits {
  font-size: 2em;
}

.graph_body {
  display: flex;
  justify-content: space-between;
}

#myChart {
  width: 100%;
}

#world-map {
  height: 600px;
}

.container {
  margin-top: 85px;
}

.clickable {
  cursor: pointer;
}

// form used to select information in the graph
.graph_form {
  display: inline-flex;
  flex-direction: row;
}

.graph_form div {
  display: inline-flex;
  flex-direction: column;
}

.graph_form div label {
  text-align: right;
  margin-right: 5px;
  height: 30px;
}

.graph_form div select {
  text-align: right;
  height: 30px;
}

.graph_form div input {
  text-align: right;
  height: 30px;
}

// boxes showing basic metrics for each page
.informationBox {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 4px;
}

.informationKey {
  text-align: right;
  margin-right: 5px;
  white-space: nowrap;
  background-color: var(--bs-card-cap-bg);
  border: var(--bs-card-border-width) solid var(--bs-card-border-color);
}

.informationValue {
  flex-direction: column;
  text-align: left;
  white-space: nowrap;
}

.card {
  //box-shadow: $card-box-shadow;
  overflow: hidden;
  border: none;
  margin-bottom: 10px;

  .card-header,
  .card-footer {
    border: none;
    background: inherit;
  }
}

.card .card {
  box-shadow: none;
  border: $card-border-color $card-border-width solid;
}

.card.card-primary {
  color: white !important;
  background: map-get($theme-colors, primary);
  //background: #7253DE;
  border-radius: 12px;

  h3,
  em {
    color: inherit;
  }


  .card-header {
    padding-bottom: 0;
  }

  .card-footer {
    background: inherit;
    padding-top: 0;
  }

  .card-body {
    color: black;
    background-color: white;
  }

}

.card-primary.outing-details .card-header {
  padding-bottom: 30px;
}

// banner in the events index page
.card-primary#category_promo {

  .card-header {
    padding-top: 15px;
    margin: auto;
    height: 120px;
    display: grid;
    grid-template-columns: auto minmax(0px, 300px);
  }

  i {
    font-size: 20px;
  }

  .icon-display {
    position: relative;
  }

  .filter-icons {
    width: 100%;
    height: 100%;

    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(180.44deg, rgba(114, 83, 222, 0) 39.36%, map-get($theme-colors, 'primary') 99.62%);
  }

  .icon {
    font-size: 35px;
    position: absolute;

  }

  .icon:nth-child(1) {
    width: 62px;
    right: 23px;
    top: -10px;
    transform: rotate(-10deg);
  }

  .icon:nth-child(2) {
    width: 62px;
    right: 45px;
    top: 40px;
  }

  .icon:nth-child(3) {
    width: 62px;
    right: -10.21px;
    top: 35px;
    transform: rotate(20deg);
  }
}

.action-buttons {
  display: flex;
  flex-direction: row;
}

// banner buttons
h1 .btn.btn-outline-secondary,
h2 .btn.btn-outline-secondary {
  a {

    display: flex;
    flex-direction: row;
  }

  font-size: 25px;
  font-weight: 500;

  border-radius: 15px;
  margin-bottom: 0;
  padding: 5px;
  line-height: 1;
}

h2 .btn.btn-outline-secondary {

  font-size: 15px;
  font-weight: 400;
}

.btn.btn-outline-secondary {
  border: 2px solid #000000;
  color: #000000;

  display: flex;
  align-items: center;
  padding: 5px;

}






.btn.btn-outline-secondary:active {
  background-color: inherit;
}


#navbar-content {
  justify-content: space-between;
}

.horizontal-scroll {
  display: grid;
  grid-auto-flow: column;
  //overflow: scroll;
  overflow-x: auto;
  padding: 20px 0;
}


#recommended-events {
  display: flex;
  flex-direction: column;
}

.underline {
  border-bottom: 2px solid darkgrey;
}

.overline {
  border-top: 1px solid darkgrey;
}

.clickable:hover {
  cursor: pointer;
}

// ******************** my account page **************************

.calendar-container {
  position: relative;
  height: 49em;
  background-color: #ffffff;
  background-image: linear-gradient(darkgrey 2px, transparent 0),
    linear-gradient(#c9c9c9 1px, transparent 0);
  background-position-y: 1em;
  background-size: 2em 2em, 0.5em 0.5em;
  opacity: 1;
}

.simple-calendar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.simple-calendar * {
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  --bs-body-line-height: 1 !important;
  --bs-card-border-radius: 0 !important;
  line-height: 1em;

  background-color: transparent;
  opacity: 1;

  box-shadow: none !important;
}

.simple-calendar * thead {
  background-color: rgb(255, 255, 255);
  opacity: 1;
}

.simple-calendar * th {
  text-align: center;
}

.simple-calendar * td {
  border-right: 1px solid darkgrey !important;
  position: relative;
  width: 12%;
}

.simple-calendar * .bg-success {
  background-color: rgb(115, 92, 221) !important;
}

#ytd {
  text-align: center;
  background-image: linear-gradient(darkgrey 2px, transparent 0);
  background-color: rgb(255, 255, 255, 1);
  background-size: 2em 2em;
  opacity: 1;
}

.availability_start_day,
.availability_end_day,
.availability_end_minute,
.availability_end_hour,
.availability_start_minute,
.availability_start_hour,
.form-inline div {
  display: inline-block;
}

.selected_box {
  position: absolute;
  display: none;
  background-color: #064ca87a;
  pointer-events: none;
  width: 100%;
  top: 0;
  left: 0;
  border: 3px solid #004bad !important;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}

.delete-availability {
  background-color: #ffffff;
  opacity: 1;
}

// ***************** set_availability ***************

.calendar-container {
  position: relative;
}

.number-people-available {
  position: absolute;
  display: none;
  padding: 5px;
  line-height: 1;
  text-align: center;
  border: solid 2px #000000;
  background-color: rgb(255, 255, 255);
}










// medium screens
@media (min-width: map-get($grid-breakpoints, md)) {

  // horizontal scrolling cards
  .horizontal-scroll>a {
    transform: translateX(0%);
    transition: 0.5s ease;
  }

  .horizontal-scroll> :first-child {
    margin-left: 0;
    //transition: 0.5s ease;
  }
}

// large screens
@media (min-width: map-get($grid-breakpoints, lg)) {

  // horizontal scrolling cards
  .horizontal-scroll>a {
    transform: translateX(0%);
    transition: 0.5s ease;
  }

  .horizontal-scroll> :first-child {
    margin-left: 0;
  }
}

// icons
.lg-icon {
  font-size: 200%;
}

.xl-icon {
  font-size: 400%;
}

.user-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 2em;
  text-align: center;
}

.initial-avatar {
  /* Center the content */
  align-items: center;
  display: flex;
  justify-content: center;

  /* Colors */
  background-color: #6b3b66;
  color: #fff;

  /* Rounded border */
  border-radius: 50%;
  height: 3rem;

  width: 3rem;
}

// Outing Page

#content-when {
  flex: 1;
}

.avatar-text {
  display: flex;
  justify-content: center;
}

// ready made styles for pagination (source: http://mislav.github.io/will_paginate/)
.digg_pagination {
  cursor: default;
  padding-bottom: 15px;
}

.digg_pagination a,
.digg_pagination span,
.digg_pagination em {
  padding: 0.2em 0.5em;
  display: block;
  float: left;
  margin-right: 1px;
}

.digg_pagination .disabled {
  color: #999999;
  border: 1px solid #dddddd;
}

.digg_pagination .current {
  font-style: normal;
  font-weight: bold;
  background: #2e6ab1;
  color: white;
  border: 1px solid #2e6ab1;
}

.digg_pagination a {
  text-decoration: none;
  color: #105cb6;
  border: 1px solid #9aafe5;
}

.digg_pagination a:hover,
.digg_pagination a:focus {
  color: #000033;
  border-color: #000033;
}

.digg_pagination .page_info {
  background: #2e6ab1;
  color: white;
  padding: 0.4em 0.6em;
  width: 22em;
  margin-bottom: 0.3em;
  text-align: center;
}

.digg_pagination .page_info b {
  color: #000033;
  background: #6aa6ed;
  padding: 0.1em 0.25em;
}

.digg_pagination:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

* html .digg_pagination {
  height: 1%;
}

*:first-child+html .digg_pagination {
  overflow: hidden;
}

.hidden {
  display: none;
}