html {
  min-height: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  footer {
    margin-top: auto;
  }
}

.container-fluid {
  padding: 0 27px;
}

// alert styling
.flash-messages{
  padding: 0;
  margin-top: -16px;
}

.alert {
  --bs-alert-border-radius: 0;
}

.light {
  opacity: 75%;
}

.subheading {
  margin-left: 5px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 17px;
}

// landing page
// ***** who when where table styles

.row p {
  margin: 0;
}

.www-table td,
.www-table {
  border-bottom: none;
}

.www-table .row {
  padding: 5px 0;
}

.www-table .row:hover,
.www-table a:hover {
  color: var(--bs-link-hover-color);
}

.www-table a {
  color: black;
}

//******

//landing page images

img.full-screen-image {
  max-width: 100%;
  width: 700px; // assume this is the default size
}

a {
  text-decoration: none;
}

// devise styling
.margin-card {
  margin: 0 30%;
}

// *************** Metrics page ***************

#myChart {
  width: 100%;
}

#world-map {
  height: 600px;
}

.flex_container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  flex-grow: 1;
}

.clickable {
  cursor: pointer;
}

// form used to select information in the graph
.graph_form {
  display: inline-flex;
  flex-direction: row;
}

.graph_form div {
  display: inline-flex;
  flex-direction: column;
}

.graph_form div label {
  text-align: right;
  margin-right: 5px;
  height: 30px;
}

.graph_form div select {
  text-align: right;
  height: 30px;
}

.graph_form div input {
  text-align: right;
  height: 30px;
}

// boxes showing basic metrics for each page
.informationBox {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.informationKey {
  display: flex;
  flex-direction: column;
  text-align: right;
  margin-right: 5px;
  white-space: nowrap;
  background-color: var(--bs-card-cap-bg);
  border: var(--bs-card-border-width) solid var(--bs-card-border-color);
}

.informationValue {
  display: flex;
  flex-direction: column;
  text-align: left;
  white-space: nowrap;
}
// register interest styling

.card-hover:hover {
  color: white;
  background-color: #343a40;
  cursor: pointer;

  .btn-primary {
    background-color: -moz-activehyperlinktext;
  }
}

.prices {
  position: absolute;
  bottom: 60px;
  left: 0;
  width: 100%;
  text-align: center;
}

.card-hover:active {
  background-color: #212529;
}

.card-hover .card-body {
  padding-bottom: 100px;
}

#navbar-content {
  justify-content: space-between;
}

.event-header .content {
  position: absolute;
  padding-top: 50px;
  width: 100%;
  color: white;
  z-index: 9999;
}

.event-header {
  text-align: center;
  width: calc(100% + 27px * 2);
  height: 170px;
  left: -27px;
  top: -20px;
  overflow: hidden;
  position: relative;
}

#event-image {
  width: 100%;

  /* Add the blur effect
   darken the image */
  filter: blur(20px) brightness(50%);

  -webkit-filter: blur(8px) brightness(50%);
  transform: scale(150%) translateY(-10%);
}

.horizontal-scroll {
  display: flex;
  overflow-x: auto;
  padding-bottom: 20px;
}

#more_events img {
  width: 100%;
}

// horizontal scrolling cards
.horizontal-scroll > a {
  transition: 0.5s ease;
}

.horizontal-scroll {
  flex-wrap: nowrap;
}

// card
.horizontal-card {
  width: 180px;
  min-width: 180px;
  max-width: 180px;
  margin-right: 10px;
  border: lightgrey 2px solid;
  border-radius: 8px;
}

// ********** outings view **********


#outing-body {
  margin-bottom: 100px;
  border-top: 1px solid #dee2e6;

}

#outing-footer {
  background-color: white;
  // attached to the bottom of the page, has a line above it
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid #dee2e6;
  padding: 20px;
  margin-top: 20px;

}

#outing-nav {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-around;
}


.outing-nav-item {
  width: 33%;
  padding: 5px 0;
}

#content-where {
  flex-direction: column;
}

#content-who {
  display: block;
}



#content-who, #content-where, #where-sidebar, #where-body, #content-who-and-when {
  width: 100%;
}

#content-who #friend-search-form, #content-where #event-search-form {
  display: flex;
  justify-content: space-between;
}

#content-who #search, #content-where #search {
  width: 99%;
  margin-right: 10px;
}

#content-who #outing-share {
  margin: 10px 0;
  display: flex;
  justify-content: end;
  align-items: center;
}

//$card-bottom: 10px;
//$card-height: 175px;

.event-card-image {
  height: 100%;
  max-height: 140px;
}

.event-card-body {
  padding: 10px;
  width: 100%;
}

.event-description{
  max-height: 50px;
}

.event-card-body .event-card-header {
  font-weight: bold;
}


.event-card-body p {
  margin-bottom: 0;
}

#event-cards {
  // only shows the first 3 elements within
  display: flex;
  flex-direction: column;
  overflow: hidden;
  //max-height: calc(($card-height * $card-bottom) * 3);
  max-height: calc((197px + 10px) * 3);
  //margin-bottom: $card-bottom;
  margin-bottom: 10px;
}


.event-card {
  margin-bottom: 10px;
  //height: $card-height;
  //max-height: 175px;
}

#content-who #outing-share .dropdown {
  margin-left: 10px;
}


#not_invited_friends .card-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

#content-who #send-invite-button {
  display: flex;
  justify-content: end;
  margin-bottom: 10px;
}

#outing-body .card {
  margin-bottom: 10px;
}

.underline {
  border-bottom: 2px solid darkgrey;
}

.overline {
  border-top: 2px solid darkgrey;
}

// large screens
@media (min-width: 992px) {

  .horizontal-scroll {
    flex-wrap: wrap;
    justify-content: center;
  }

  // horizontal scrolling cards
  .horizontal-scroll > a {
    transform: translateX(0%);
    transition: 0.5s ease;
  }

  .horizontal-scroll > :first-child {
    margin-left: 0;
    //transition: 0.5s ease;
  }

  .horizontal-card {
    margin-bottom: 10px;
  }


  #outing-footer {
    display: none;
  }

  #outing-body #content-when {
    display: block;
  }

  #outing-nav {
    display: none;
  }

  #outing-body {
    display: flex;
  }

  #content-who {
    width: 30%;
    min-width: 400px;
    max-width: 450px;
    box-shadow: 5px 0 5px -5px rgba(0,0,0,0.75);
  }

  #content-when {
    width: 70%;
  }

  #content-who, #content-when {
    padding: 10px;
  }

  .horizontal-scroll {
    flex-wrap: wrap;
    justify-content: center;
  }

  // horizontal scrolling cards
  .horizontal-scroll > a {
    transform: translateX(0%);
    transition: 0.5s ease;
  }

  .horizontal-scroll > :first-child{
    margin-left: 0;
    //transition: 0.5s ease;
  }

  .horizontal-card {
    margin-bottom: 10px;
  }

}

// icons
.lg-icon {
  font-size: 200%;
}

.xl-icon {
  font-size: 400%;
}

// colours

.black {
  color: black;
}
.red {
  color: red;
}

.red:hover {
  color: darkred;
}

.purple {
  color: mediumpurple;
}

.purple:hover {
  color: rebeccapurple;
}

.green {
  color: green;
}

.green:hover {
  color: darkgreen;
}