@import 'variables';

#content-who,
#content-where,
#where-sidebar,
#where-body,
#content-who-and-when {
  width: 100%;
}

.proposed-event-set-datetime {
  display: grid;
  grid-template-columns: 1fr 100px;
  gap: 5px;
}

.visit_outing {
  color: black;
  font-weight: 500;
}

.outing-details p {
  grid-area: description;
}

// used to include the bootstrap variable
#content-who,
#content-when,
#where-sidebar,
#where-body {
  padding: 0 var(--bs-gutter-x);
}

// large screens
@media (min-width: map-get($grid-breakpoints, lg)) {
  #content-who,
  #where-sidebar {
    width: 30%;
    min-width: 400px;
    max-width: 450px;
    border-right: 1px solid darkgray;
  }

  #content-when,
  #where-body {
    width: 70%;
  }
}
