@import "variables";

main {
  //display: grid;
  //grid-template-columns: 178px 1fr;
  padding-left: $sidebar-width;
}


.sidebar {
  background: radial-gradient(194.94% 112.13% at 0% 0%, rgba(26, 19, 50, 0.8) 0%, #1A1332 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  backdrop-filter: blur(5px);

  height: 100vh;
  width: $sidebar-width;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
}

#sidebar-content {
  // unordered list with no bullets
  list-style-type: none;
  padding: 22px 0;

  font-size: 15px;

  li:first-child.sidebar-item {
    margin-bottom: 33px;
  }

  li:nth-child(2).sidebar-item {
    margin-bottom: 18px;
    height: 59px;
  }

  li.sidebar-item {
    display: grid;
    grid-template-columns: 90% 10%;
    align-items: center;

    margin-bottom: 13px;
    //padding-top: 7px;
    //padding-left: 17px;
    //padding-bottom: 7px;

    padding: 7px 17px;
  }

  li.active {
    background: rgba(114, 83, 222, 0.2);
  }

  li.active{

    a::after {
      content: '';
      position: absolute;
      right: 0;
      height: 42px;
      width: 5px;
      background: #7253DE;
    }
  }

  li:nth-child(2).active {
    a::after {
      height:59px;
    }
  }

  a {
    display: grid;
    grid-template-columns: 3rem auto;
    align-items: center;
    justify-items: center;
    justify-content: start;
    gap: 5px;
  }
  .initial-avatar {
    width: 40px;
    height: 40px;
    font-size: 12px;
  }

  i {
    font-size: 19px;
  }
}

.sidebar-toggler {
  background: none;
  color: white;
  border: none;
  outline: none;
  padding: 0;
}

.sidebar-collapse {
  list-style-type: none;
  //padding-left: 50px;
  margin-bottom: 40px;
  li {
    margin-bottom: 10px;
  }
}