@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

$sidebar-width: 190px;
$sidebar-width-sm: 60px;

$event-header-height: 210px;

$event-card-height: 156px;
$event-card-bottom: 55px;
$event-card-padding: 10px;

$h1-font-size: 30px;
$h1-font-weight: 600;

$h2-font-size: 25px;
$h2-font-weight: 500;

$h3-font-size: 15px;

$btn-hover-bg-shade-amount: 0%;
$bs-btn-hover-bg: red;

//
//$text-color: #C1BAD2;
//$body-bg: #f8f9fa;
//// changing primary colour
$theme-colors: map-remove($theme-colors, "primary");
$theme-colors: map-merge(
  (
    "primary": #735CDD,
  ),
  $theme-colors);
//
//$link-color: $text-color;