@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

$body-bg: #f8f9fa;

$event-card-height: 156px;
$event-card-bottom: 55px;
$event-card-padding: 10px;

$h2-font-size: 20px;
$h3-font-size: 17px;

$card-box-shadow: 0 3px 20px 0 rgba(0,0,0,.16);

// changing primary colour
//$theme-colors: map-remove($theme-colors, "primary");
//$theme-colors: map-merge(
//  (
//    "primary": #6b3b66
//  ),
//  $theme-colors);

//$link-color: #8C304D;