.text-center


  .space.py-5

  %h1 Planning outings sucks
  %h2 So we fixed it.

  .space.py-4

  %p
    =link_to 'Get started', 'users/sign_up', class: 'btn btn-dark'
  %p
    =link_to 'already got an account? log in', 'users/sign_in'


  .space.py-1

  %p
    %a{:href => '/#more-info'}
      Find out more
      %i.bi-arrow-down

  .space.py-5

  %h1#more-info Planning Streamlined.
  %p.light We realise planning where you're going, who's coming out with you, and when you're going out is difficult.
  %p.light Our app streamlines this process, and makes it easier than ever to organise the 3 challenges of every outing:

  -#todo add javascript to use table rows as links
  .row.justify-content-center
    .col-auto.col-8
      %table.table.www-table
        %tbody
          %tr.row
            %td.col-4
              %h3
                %i.bi-people
            %td.col-4
              %h3
                %a{:href => '/#who'}
                  Who?
            %td.col-4
              %p
                Who's going out?
          %tr.row
            %td.col-4
              %h3
                %i.bi-calendar
            %td.col-4
              %h3
                %a{:href => '/#when'}
                  When?
            %td.col-4
              %p
                When are we meeting up?

          %tr.row
            %td.col-4
              %h3
                %i.bi-pin
            %td.col-4
              %h3
                %a{:href => '/#where'}
                  Where?
            %td.col-4
              %p Where are we going?

  .space.py-5

  %h1#who Who?
  %p.subheading.light
    You bring your mates.
    %br/
    We'll bring everything else
  %br
  .row.justify-content-center
    .col-auto
      %img{:src => 'images/friends_going.webp', :width => '300px', :alt => "placeholder screenshot of the website showing friends able to opt in or out of the event proposed"}
      %br

  .row.justify-content-center
    .col-auto
      %p.subheading.light.mb-3
        %i
          Our easy event sharing and progressive web app  means anyone can join in on the fun.
  %p
    You can share a url to your mates with our integrated social media share sheet, and your friends can let you know if they're up for coming on an outing with you.

  %br

  .row.justify-content-center
    .col-auto
      %img{:src => 'images/personalized_profile.webp', :width => '300px', :alt => "placeholder screenshot of the website showing a profile with personalized icons, depicting categories of events the user is interested in."}

  .row.justify-content-center
    .col-auto
      %p.subheading.light.mb-3
        %i
          Personalised profiles mean we'll find a place you all love.
  %p
    Our product builds a profile of you and your mates, and it recommends places to go based on your previous activity, and what you tell us you want to do in the future. If you build an event with friends, we'll find a place tailored for everyone in the party.

  %h1#when When?
  %p.subheading.light
    We’ll take care of the timing,
    %br/
    you take care of your outfit.

  %br

  .row.justify-content-center
    .col-auto
      %img{:src => 'images/colaborative_calendars.webp', :width => '300px', :alt => "placeholder screenshot of the website showing many user's calendars."}

  .row.justify-content-center
    .col-auto
      %p.subheading.light.mb-3
        %i
          Connect your schedules and we’ll figure out when you’re free.

  %p
    Our app integrates with google calendar, and finds the best time to meet based on the free space in your calendars and when the best events are happening soon.


  %h1#where Where?
  %p.subheading.light
    Everything, Everywhere,
    %br/
    All in one place.
  %br


  .row.justify-content-center
    .col-auto

      .event_images
        %img.full-screen-image{:src => 'images/event_images.webp', :alt => "placeholder screenshot of the website showing a collection of events"}


  .row.justify-content-center
    .col-auto
      %p.subheading.light.mb-3
        %i
          We find local events we think you'll love based on your interests.

  %p
    You can even filter events by category, by local reviews, and by "verified" locations, which are specially chosen events by our team of expert party planners.



  .row.justify-content-center
    .col-auto
      %img{:src => 'images/recommended_events.webp', :width => '300px', :alt => "placeholder screenshot of the website showing three recommended events, with the option to heard, bookmark, or dislike these events"}

  .row.justify-content-center
    .col-auto
      %p.subheading.light.mb-3
        Explore new places with quick discovery

  %p
    %i
    Can’t make up your mind?
    %br/
    We’ll show you 3 of our favourite places. all you do is choose.

  %p With our Premium+ plan, we'll show you a collection of the events we know you'll love. You can swipe through your preferences, and we can organise a time and a place that suits you.

  .space.py-5

  .text-center
    = image_pack_tag 'planetgo_logo.webp', height: 100, alt: 'logo for the company planet go. the logo includes a calendar icon in the center of a planet with one ring'
    %h1
      We are PlanetGO

    %p.light.pb-3
      Join the movement for better experiences and less stress

    %p
      =link_to 'Register Interest', 'users/sign_up', class: 'btn btn-dark'

    %p.light
      Why not tell your friends about us?

    %p
    %a.twitter-hashtag-button{"data-show-count" => "false", href: "https://twitter.com/intent/tweet?button_hashtag=planetGO&ref_src=twsrc%5Etfw"} Tweet #planetGO
    %script{async: "", charset: "utf-8", src: "https://platform.twitter.com/widgets.js"}

    %a{href: "mailto:?subject=Check out planetGo! &body=It's a super cool website.", title: "Share by Email"}
      %img{:src => "images/email_icon.webp", :width => "40px", :alt => "email link"}/