.row.justify-content-center
  .col-10
    .row
      .col-12.col-xl-4.pb-4.order-3.order-xl-1
        .card.card-hover.h-100
          .card-header.text-center
            Basic
          .card-body
            %p Features:
            %ul
              %li Share outings with your friends
              %li Combine calendars with friends
              %li Find the best events near you


            .prices
              %h1 Free
              %p.light forever

          .card-footer.text-center
            = link_to 'Select', new_pricing_register_interest_path('basic'), class: 'btn btn-primary btn-sm'
      .col-12.col-xl-4.pb-4.order-1.order-xl-2
        .card.card-hover.h-100
          .card-header.text-center
            Premium
          .card-body
            %p
            Features:
            %ul
              %li Share outings with your friends
              %li Combine calendars with friends
              %li.pb-3 Find the best events near you
              %li Discover recommended events based on your profile and outing history
              %li Connect to ticketing sites and transport apps to make outings even easier

            .prices
              %h1 £5.99
              %p.light per month

          .card-footer.text-center
            = link_to 'Select', new_pricing_register_interest_path('premium'), class: 'btn btn-primary btn-sm'
      .col-12.col-xl-4.pb-4.order-2.order-xl-3
        .card.card-hover.h-100
          .card-header.text-center
            Premium+
          .card-body
            %p
            Features:
            %ul
              %li Share outings with your friends
              %li Combine calendars with friends
              %li.pb-3 Find the best events near you
              %li Discover recommended events based on your profile and outing history
              %li.pb-3 Connect to ticketing sites and transport apps to make outings even easier

              %li Rebook previously saved events
              %li More advanced event filtering
              %li Have tailored, spontaneous experiences with "outing shuffle"

            .prices
              %h1 £7.99
              %p.light per month

          .card-footer.text-center
            = link_to 'Select', new_pricing_register_interest_path('premium_plus'), class: 'btn btn-primary btn-sm'