.cards
  .card
    .card-body
      %h2.card-title Basic
      %p 
      Features:
      %li Feature 1
      %li Feature 2
      %li Feature 3
      = link_to 'Select', new_pricing_register_interest_path('basic'), class: 'btn btn-outline-secondary btn-sm'
  .card
    .card-body
      %h2.card-title Premium
      %p 
      Features:
      %li Feature 1
      %li Feature 2
      %li Feature 3
      %li Feature 4
      %li Feature 5
      = link_to 'Select', new_pricing_register_interest_path('premium'), class: 'btn btn-outline-secondary btn-sm'
  .card
    .card-body
      %h2.card-title Premium+
      %p 
      Features:
      %li Feature 1
      %li Feature 2
      %li Feature 3
      %li Feature 4
      %li Feature 5
      %li Feature 6
      %li Feature 7
      = link_to 'Select', new_pricing_register_interest_path('premium_plus'), class: 'btn btn-outline-secondary btn-sm'