= week_calendar(start_date: @calendar_start_date, events: persons_availabilities, attribute: :start_time, end_attribute: :end_time) do |date, meetings|
  - meetings.each_with_index do |meeting,index|
    - current_start_time = meeting.start_time
    - current_end_time = meeting.end_time
    - current_start_time_string = current_start_time.strftime("%H:%M")
    - current_end_time_string = current_end_time.strftime("%H:%M")
    
    - if (current_start_time.strftime("%Y-%m-%d") != date.strftime("%Y-%m-%d"))
      - current_start_time_string = "00:00"
    - if (current_end_time.strftime("%Y-%m-%d") != date.strftime("%Y-%m-%d"))
      - current_end_time_string = "23:59"
    
    -# case for index 0, add busy block from midnight to start_time if start_time != midnight
    - if (index == 0 && current_start_time_string != "00:00")
      .card
        .card-body{:style=>"height: "+calculate_height("00:00", current_start_time_string).to_s+"em;"}
    
    -# check if busy blocks to be added between two availability slots
    - if (index > 0 && index <= (meetings.length()-1) && current_start_time != meetings[index-1].end_time)
      .card
        .card-body{:style=>"height: "+calculate_height(meetings[index-1].end_time.strftime("%H:%M"), current_start_time_string).to_s+"em;"}
    
    -# current availability block
    -opacity = (0.9/num_calendars).to_s
    .card{:class=>"bg-success", :style=>"opacity: "+ opacity +";"}
      .card-body{:style=>"opacity: "+ opacity +";height: "+calculate_height(current_start_time_string, current_end_time_string).to_s+"em;"}
        - if (individual)
          - if (current_start_time.strftime("%Y-%m-%d") == date.strftime("%Y-%m-%d"))
            = link_to 'Delete', meeting, method: :delete, class: 'btn btn-outline-danger ms-1 btn-sm delete-availability', remote: true, format: "json"

    -# add final busy block if last availability doesnt end at 23:59
    - if (index == meetings.length()-1 && current_end_time_string != "23:59")
      .card
        .card-body{:style=>"height: "+calculate_height(current_end_time_string, "23:59").to_s+"em;"}
    
  - if (meetings.length() == 0)
    .card
      .card-body{:style=>"height: "+calculate_height("00:00","23:59").to_s+"em;"}
  %div.selected_box{:id=>"selected_box_"+(date.strftime("%-d").to_i - 5).to_s}
