.card
  .card-header.d-flex.align-items-center
    %span Listing Category Interests

  %table.table
    %thead
      %tr
        %th Event Category
        %th Actions
    %tbody
      - @category_interests.each do |category_interest|
        %tr
          %td= Category.find(category_interest.category_id).name
          %td
            .row
              .col
                = link_to set_interest_category_interest_path(category_interest, interest: 1), method: :put, class: 'approve_event btn' + (category_interest.interest == 1 ? " btn-primary" : " btn-outline-primary") do
                  %i.bi-emoji-heart-eyes

              .col
                = link_to set_interest_category_interest_path(category_interest, interest: 0), method: :put, class: 'approve_event btn' + (category_interest.interest == 0 ? " btn-primary" : " btn-outline-primary") do
                  %i.bi-emoji-neutral

              .col
                = link_to set_interest_category_interest_path(category_interest, interest: -1), method: :put, class: 'disapprove_event btn' + (category_interest.interest == -1 ? " btn-danger" : " btn-outline-danger") do
                  %i.bi-emoji-angry