.row.justify-content-center
  .col-sm-8.col-lg-6
    .card
      .card-header
        Category Interest details
      .card-body
        %dl.row.mb-0
      .card-footer.d-flex
        = link_to 'Edit', edit_category_interest_path(@category_interest), class: 'btn btn-link'
        = link_to 'Back', category_interests_path, class: 'btn btn-link ms-auto'