-# frozen_string_literal: true
= simple_form_for(@category) do |f|
  .card-body
    = f.input :name
    = f.input :symbol

  .card-footer.d-flex
    %button.btn.btn-primary{ type: 'submit' }
      Save
    = link_to 'Back', categories_path, class: 'btn btn-link ms-auto'
