-# frozen_string_literal: true
= simple_form_for(@review) do |f|
  .card-body
    = f.input :body, wrapper_html: { class: 'mb-3' }
    = f.association :user, wrapper_html: { class: 'mb-3' }

  .card-footer.d-flex
    %button.btn.btn-primary{ type: 'submit' }
      Save
    = link_to 'Back', reviews_path, class: 'btn btn-link ms-auto'
